<div>
  <h2>Your form inputs</h2>
  <h4>Favorite Color</h4>
  <h3>
    <%= @favorite_color %>
  </h3>
  <h4>Nickname</h4>
  <h3
    <%= @nickname %>
  </h3>
  <h4>Spirit Fruit</h4>
  <h3>
    <%= @spirit_fruit %>
  </h3>
</div>
